.idea
app/config/parameters.yml
infrastructure/build
vendor
var/*
!var/SymfonyRequirements.php
!var/cache
var/cache/*
!var/cache/.gitkeep
!var/logs
var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep