imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi:             ~
    #translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        handler_id:  session.handler.native_file
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments:       ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form_themes:
        - 'bootstrap_3_layout.html.twig'
# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_sqlite
        path:     "%database_path%"
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: false
        naming_strategy: doctrine.orm.naming_strategy.underscore
        mappings:
            credit_card:
                type: annotation
                dir: "%kernel.root_dir%/../src/SimplePrepaidCard/CreditCard/Model"
                prefix: SimplePrepaidCard\CreditCard\Model
            coffe_shop:
                type: annotation
                dir: "%kernel.root_dir%/../src/SimplePrepaidCard/CoffeeShop/Model"
                prefix: SimplePrepaidCard\CoffeeShop\Model
            statement:
                type: annotation
                dir: "%kernel.root_dir%/../src/SimplePrepaidCard/CreditCard/Application/Query"
                prefix: SimplePrepaidCard\CreditCard\Application\Query
