{% extends '@App/base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>AvailableBalance</th>
            <th>Balance</th>
        </tr>
        {% for view in statement %}
            <tr>
                <td>{{ view.date|date("Y-m-d H:i", false) }}</td>
                <td>{{ view.date|date("Y-m-d H:i", false) }}</td>
                <td>{{ view.availableBalance / 100|number_format(2, '.', ',') }}</td>
                <td>{{ view.balance / 100|number_format(2, '.', ',') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
