{% extends '@App/coffee-shop/merchant.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Reverse authorization</h3>
        </div>
        <div class="panel-body">
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>
{% endblock %}
